// Mixins Here
.flex {
    display:flex;

}

.animation {
    background-color: @chestnut;
    animation-name: fire;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

}
// @keyframes fire {
//     0% {background-image: linear-gradient(to right, @footer-background, @shuttle-gray, @river-bend, @btn-bg-color, @header-font-color);}
//     35%{background-image: linear-gradient(to right, @river-bend, @footer-background, @shuttle-gray, @btn-bg-color, @header-font-color);}
//     65%{background-image: linear-gradient(to right, @river-bend, @btn-bg-color, @footer-background, @shuttle-gray, @header-font-color);}
//     100%{background-image: linear-gradient(to right, @river-bend, @btn-bg-color, @header-font-color, @footer-background, @shuttle-gray);}
//   }