// Navigation code here
nav {
    .container();
    .flex();
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: @richblack;
    align-content: space-around;
    
    .logo {
        .flex();
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2%;
        padding-bottom: 1%;
        h1 {
            display: none;
        }
        .logo1 {
            width: 65px;
            height: 65px;
        }
        .banner {
            width: 800px;
            @media @mobile {
            width: 400px;
            }
        }
        
    }
    .navi {
        .flex();
        flex-direction: row;
        justify-content: space-evenly;
        width: 25%;
        padding-bottom: 1%;
        @media @mobile {
         width: 90%;   
        }
        a {
            text-decoration: none;
            font-size: 1.8rem;
            font-weight: bold;
            color: @nav-font;
            .button();
            
        }
    }
    @media @mobile {
     padding-bottom: 3%;   
    }
}

.mhead {
    .container();
    .flex();
    
}
// Navigation code here
