// Variables

// Color pointers
@nav-bg: @Bostonured;
@nav-font: @richblack;
@nav-border: @sandstorm;

@header-font-color: @richblack;
@main-font-color: @richblack;
@main-border-color: @magnolia;

@footer-background: @magnolia;
@footer-font-color: @sinopia;

// Color Vars
@Bostonured: #BC0000;
@sinopia: #D14A0C;
@sandstorm: #DDD03B;
@wageningreen: #26AF4F;
@chestnut: #964E31;
@richblack: #03001E;
@magnolia: #F3F2FF;

// Mobile var
@mobile: ~'screen and (max-width:500px)';
@tablet: ~'screen and (max-width:800px)';

